:root {
    --utama:#89CFF3;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.brand1 {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.logo1{
    width: 70px;
    height: auto;

}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

.search-form {
    overflow: hidden;
}

.search-input {
    width: 0;
    opacity: 0;
    margin-left: 10px;
    padding: 6px 14px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: all 0.3s ease;
}


.search-input.active {
    width: 180px;
    opacity: 1;
}


section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(0,0,0,.1);
}

.heading span{
    color: #00A9FF;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 9rem;
    background: #00A9FF;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.35s ease;
}

.btn:hover{
    transform: translateX(-6px);
    background: #89CFF3;
}

.btn:active{
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #eee;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span {
    color: var(--utama);
}

header .navbar a{
    font-size: 15px;
    text-decoration: none;
    padding: 0 1.5rem;
    color: #312e2e;
    
}

header .navbar a:hover{
    color: var(--utama);
    background: #00A9FF;
    border-radius: 2rem;
}



header .icon a:hover{
    color: var(--utama);
}

header #toggler {
    display: none;
}

header .bi-card-text{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .3rem solid rgba(0,0,0,.1);
    display: none;
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(image/WhatsApp\ Image\ 2026-01-10\ at\ 21.18.23.jpeg) no-repeat;
    background-size:cover;
    background-position:flex;
}

.home .conten{
    max-width: 50rem;
}

.home .conten h3{
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.home .conten span{
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;

}

.home .conten p{
    font-size: 1.5rem;
    color: #fffdfd;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;

}

.about .row .video-container:hover{
    transform: scale(1.1);
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #eee;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 4rem;
    font-weight: bold;
    background: #eee;
    width: 100%;
    padding: 1rem 1rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .conten{
    flex: 1 1 40rem;
}

.about .row .conten h3{
    font-size: 3rem;
    color: #333;
}

.about .row .conten p{
    font-size: 1.5rem;
    columns: #333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icon-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.icon-container .icon{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icon-container .icon:hover{
    transform: scale(1.1);
}

.icon-container .icon img{
    height: 5rem;
    margin-right: 2rem
}

.icon-container .icon h3{
    color: #00A9FF;
    
}

.icon-container .icon span{
    font-weight: bold;
    color: #333;
    font-size: 1.3rem;
}

.produk .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.produk .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .2rem solid rgba(0,0,0,.1);
    position: relative;
    
}

/* .produk .box-container .box .diskon{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    background: rgba(0, 0, 0,.1);
    z-index: 1;
} */






.produk .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.produk .box-container .box .image img{
    height: 25rem;
    
}

.produk .box-container .box:hover .image img{
    transform: scale(1.1);
}

.produk .box-container .box .image .icon{
    position: absolute;
    bottom: -7rem; left: 1; right: 1;
    display: flex;
    width: 50%;

}

.produk .box-container .box:hover .image .icon{
    bottom: 0;
}




.produk .box-container .box .image .icon a{
    height: 5rem;
    line-height: 3rem;
    font-size: 2rem;
    width: 50%;
}

.produk .box-container .box .image .icon .bi-cart-fill{
    width: 100%;

}

.produk .box-container .box .image .icon a:hover{
    background: #eee;
}


.produk .box-container .box .conten{
    padding: 2rem;
    text-align: center;
}

.produk .box-container .box .conten h3{
    font-size: 2.5rem;
    color: #333;
}

.produk .box-container .box .conten .harga{
    font-size: 2.5rem;
    color: #00A9FF;
    font-weight: bold;
    padding-top: 1rem;
}

.produk .box-container .box .conten .harga span{
    font-size: 1.5rem;
    color: #333;
    font-weight: lighter;
    text-decoration: none;
}

.lokasi-wrapper {
    margin-top: 60px;
    text-align: center;
}

.lokasi-wrapper h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #00A9FF;
    padding: 1rem;
    margin: 2rem 0;
    margin-left: 37rem;
    margin-right: 37rem;
    background: rgba(0, 0, 0, .1);
}

.map-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border: 5px solid #fff;
}

/* footer start*/
.footer {
    background: linear-gradient(135deg, #8CE4FF, #2ecc71);
    color: #333;
    padding: 4rem 0;

}

.footer-box .social {
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.footer-box {
    margin-top: 0;
}

.logo4{
    display: block;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.footer-box:not(:first-child) {
    padding-left: 80px;
}

.footer .footer-box h3 {
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.footer-box h4{
    margin-bottom: 15px;
    font-weight: bold;
}

.footer .footer-box p,
.footer .footer-box a {
    color: #333;
    font-size: 1.4rem;
    display: block;
    margin-bottom: .8rem;
    text-decoration: none;
}

.footer .footer-box a:hover {
    color: #fff;
}



.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: .1rem solid #333;
    font-size: 1.4rem;
}

.footer .credit span {
    color: #fff;
}
/* footer end*/














@media (max-width:991px) {
    html {
            font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media (max-width:768px) {
    header .bi-card-text{
        display: block;       
    }

    header .navbar{
        position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #eee;
            display: none;
            flex-direction: column;
            z-index: 999;
            border-top: .1rem solid rgba(0,0,0,.1);
            transform: translateY(-30px);
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
    }
    
    header #toggler:checked ~ .navbar{
        display: flex;
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    } 

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
        width: 100%;
        text-align: center;
    }

    .home .conten h3{
        font-size: 5rem;
    }

    .home .conten span{
        font-size: 2.5rem;
    }

    .icon-container .icon h3 {
        color: #00A9FF;
    
    }
    
    .icon-container .icon span {
        font-size: 1.3rem;
    }

    .lokasi-wrapper h3 {
        margin: 1.5rem;
        padding: 1.5rem;
        background: rgba(0, 0, 0, .1);
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
        width: 100%;
        text-align: center;
    }

    .map-container iframe {
        height: 300px;
    }


}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
}